@import"reset.css";
@import"pro_pages_style.css";
@import"grid.css";
@import"forms.css";
@import"prettyPhoto.css";
@import"jquery.snippet.min.css";
@import"jplayer.blue.monday.css";
@import"../css/smoothness/jquery-ui-1.8.17.custom.css";
@import"superfish.css";
@import"ie.css";
html, body {
	height: 100%;
}
body {
	color: #828387;
	position: relative;
	min-width: 970px;
	font: 12px/20px Arial, Helvetica, sans-serif;
	background: #1d1d1d;
	padding: 0 0 0px 0;
}
.main {
	width: 970px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	background: none;
	padding: 0px 0 0px 0;
}
a {
	color: #8f8f8f;
	outline: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
.buttons a:hover {
	cursor: pointer;
}
.clear {
	clear: both;
	width: 100%;
	line-height: 0;
	font-size: 0;
	height: 0;
	overflow: hidden;
}
.wrapper {
	width: 100%  ;
	overflow: hidden;
	position: relative;
}
.extra-wrap {
	overflow: hidden;
	display: block;
}
/**********bg***********/
.bg {
	width: 100%;
	background: url(../images/bg.gif) center 0 repeat;
}
p {
	margin-bottom: 20px;
}
.p0 {
	margin-bottom: 0px;
}
.p00 {
	margin-bottom: 5px;
}
.p1 {
	margin-bottom: 8px;
}
.p2 {
	margin-bottom: 15px;
}
.p3 {
	margin-bottom: 28px;
}
.p4 {
	margin-bottom: 40px;
}
.p5 {
	margin-bottom: 43px;
}
.p6 {
	margin-bottom: 44px;
}
.p7 {
	margin-bottom: 52px;
}
.prev-indent-bot {
	margin-bottom: 10px;
}
.prev-indent-bot1 {
	margin-bottom: 12px;
}
.prev-indent-bot2 {
	margin-bottom: 14px;
}
.title {
	margin-bottom: 19px;
}
.indent-bot {
	margin-bottom: 20px;
}
.indent-bot1 {
	margin-bottom: 22px;
}
.spacing-bot {
	margin-bottom: 24px;
}
.spacing-bot1 {
	margin-bottom: 27px;
}
.margin-bot {
	margin-bottom: 37px;
}
.margin-bot1 {
	margin-bottom: 33px;
}
.margin-top {
	margin-top: 6px;
}
.spacing {
	margin-right: 20px;
}
.spacing-1 {
	margin-right: 10px;
}
.img-indent {
	float: left;
	margin: 6px 20px 0 0px;
}
.img-indent-r {
	float: right;
	margin: 5px 0px 0 29px;
}
.letter {
	letter-spacing: 1px;
}
/*******paddings******/
.padding {
	padding: 43px 0px 51px 0px;
}
.padding-1 {
	padding: 0px 0px 51px 0px;
}
.padding-2 {
	padding: 67px 0px 74px 0px;
}
.left-pad {
	padding: 0 0 0 9px;
}
.left-pad1 {
	padding: 0 0 0 10px;
}
.img-pad {
	padding: 18px 0 0 17px;
}
.reg {
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: -1px;
	margin: -2px 0 -3px 0;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}
.alignmiddle * {
	vertical-align: middle;
}
.color-1 {
	color: #fff;
}
.color-2 {
	color: #000;
}
.color-3 {
	color: #e43a0d;
}
.color-4 {
	color: #3d3949;
}
.sf-menu li a, .box-title a, .link, .link-1, .link-2, .link-3, .link-4, .list li a, .list-1 li a, .list-2 li a, .button, .text-bot a, h1 a {
	text-decoration: none;
}
/*********************************header*************************************/
header {
	position: relative;
	width: 100%;
	background: #363636;
	z-index: 2;
	padding: 0px 0 0px;
	margin: 0 0 0px 0;
	height: 150px;
}
.row-1 {
	position: relative;
	margin-bottom: 0px;
	width: 100%;
	background: #363636;
	padding: 50px 0 0 0;
}
.row {
	position: relative;
	
	padding: 0 30px 0 0;
	width: 100%;
	background: #363636;
	
}
.row2 {
	position: relative;
	
	padding: 0 30px 0 0;
	width: 100%;
	background: white;
	
}
header h1 {
	padding: 0px 0 0px 0px;
	display: inline-block;
	position: relative;
	float: left;
	margin: 0 0 0 0;
}
header h1 a {
	display: block;
	text-indent: -5000px;
	overflow: hidden;
	background: url(../img/logo.png) 0 0 no-repeat;
	height: 79px; 
	width: 275px;
}
header .right h1 {
	padding: 0px 0 0px 0px;
	display: inline-block;
	position: relative;
	float: right;
	margin: 0 0 0 0;
}
header .right h1 a {
	display: block;
	text-indent: -5000px;
	overflow: hidden;
	background: url(../img/logo.png) 0 0 no-repeat;
	height: 79px; 
	width: 275px;
}
/********************** Content ************************/
#content {
	width: 100%;
	padding: 0px 0px 0px 0px;
	z-index: 1;
	position: relative;
	background: #D8D8D8;
}
.slogan {
	font-size: 25px;
	line-height: 1.2em;
	letter-spacing: 2px;
	color: #2b2b2b;
	padding: 52px 0 0px 35px;
	font-family: arial;
}
*+html .slogan {
	padding: 53px 0 0px 35px;
}
.slogan-1 {
	font-size: 37px;
	line-height: 1.2em;
	letter-spacing: -1px;
	color: #2b2b2b;
	padding: 52px 0 15px 2px;
	border-bottom: 3px solid #f5f5f5;
}
*+html .slogan-1 {
	padding: 53px 0 43px 20px;
}
.slogan span, .slogan-1 span {
	display: block;
	margin-top: -4px;
}
/* titles */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 24px;
	line-height: 1.2em;
	color: #333333;
	text-transform: uppercase;
}
h1 {
	font-size: 22px;
	letter-spacing: 1px;
	margin: 0 0 37px;
}
h1.titles {
	font-size: 37px;
	padding: 52px 0px 47px 20px;
	border-bottom: 8px solid #f5f5f5;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
.col-1 {
	float: left;
	width: 200px;
}
/* borders */

.border-bot {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 11px;
}
.border-bot1 {
	border-bottom: 8px solid #f5f5f5;
	padding-bottom: 43px;
}
.border-bot2 {
	border-bottom: 1px solid #ebecde;
	padding-top: 20px;
	margin-bottom: 30px;
}
.border-bot3 {
	border-bottom: 8px solid #f5f5f5;
	padding-bottom: 45px;
}
.border-bot4 {
	border-bottom: 8px solid #f5f5f5;
	padding-bottom: 46px;
}
/* Slider */




#slider-1 {
	position: relative;
	height: 461px;
	overflow: hidden;
	width: 970px
}
.slider-1 {
	width: 970px !important;
	height: 460px;
	overflow: hidden;
}
.slider-1 img {
	width: 970px !important;
	height: 420px !important;
}
.items {
	display: none;
}
/* pagination */
#slider-1 .control {
	position: absolute;
	background: #333333;
	width: 970px;
	bottom: 0px;
	z-index: 1000;
	padding: 0;
	display: block;
	right: 0;
	z-index: 10;
	overflow: hidden
}
.prev-1, .next-1 {
	width: 41px;
	height: 41px;
	display: inline-block;
	z-index: 20;
	cursor: pointer;
	float: left
}
.prev-1 {
	background: url(../img/control.gif) no-repeat 0 0;
}
.next-1 {
	background: url(../img/control.gif) no-repeat right 0;
}
.play-1 {
	background: url(../img/play-pause.png) no-repeat 0 0;
}
.prev-1:hover {
	background-position: 0 bottom
}
.next-1:hover {
	background-position: right bottom
}
.play-1 {
	display: block;
	z-index: 15;
	text-decoration: none;
	position: absolute !important;
	top: 10px;
	right: 14px;
	font-size: 18px;
	line-height: 22px;
	
	background: transparent;
}
.play-1:hover {	
	text-decoration: none
}
.play-1 span,.play-1 em{
	color: #ececec;}

.play-1 span.alt,.play-1 em.alt{
	color: #e43a0d}


.play-1 span {
	display: none;
}
.play-1 em {
	font-style: normal;
	color: #ececec;
	font-style: normal;
	display: block;
}
.paused span {
	display: block;
}
.paused em {
	display: none;
}
/* links */
.link {
	color: #8f8f8f;
}
.link-1 {
	display: inline-block;
	background: url(../img/marker-1.gif) 0 0px no-repeat;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 14px;
	color: #000;
	padding: 2px 0px 5px 29px;
}
.link-1 span {
	display: inline-block;
	background: url(../img/line-1.png) 0 bottom no-repeat;
}
.link-1:hover {
	text-decoration: none
}
.link-2, .link-2 strong {
	color: #828387;
}
.link-3 {
	display: inline;
	background: url(../images/line-4.png) 0 bottom no-repeat;
	font-size: 12px;
	line-height: 20px;
	color: #e43a0d;
	font-style: italic;
}
.link-2:hover strong {
	color: #e43a0d;
	text-decoration: none
}
.link-4 {
	display: inline;
	background: url(../images/line-5.png) 0 bottom no-repeat;
	font-size: 12px;
	line-height: 20px;
	color: #000;
	font-style: italic;
}
.link-3:hover, .link-4:hover, .link-2:hover {
	text-decoration: none
}
.link-2.a:hover {
	text-decoration: underline
}
/* buttons */
.button {
	display: inline-block;
	background: #e43a0d;
	color: #f5f5f5;
	padding: 5px 9px 5px 8px;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	text-decoration: none;
}
#form-bot {
	float: left;
	padding: 0px 0px 0 0;
}
.form-bot {
	height: 23px;
	overflow: hidden;
}
.form-bot input {
	background: #292929;
	float: left;
	border-right: none;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	height: 17px;
	width: 148px;
	padding: 2px 7px 2px 7px;
	color: #828387;
}
.form-bot a {
	display: inline-block;
	background: #e43a0d;
	color: #f5f5f5;
	padding: 5px 9px 5px 8px;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.form-bot a:hover {
	text-decoration: none;
	background: #000;
}
.text-form {
	font-size: 13px;
	line-height: 18px;
	color: #c3c3c3;
	float: left;
	width: 403px;
	padding: 3px 0 0 0;
}
/* boxes */
.box-form {
	background: #545454;
	position: relative;
	padding: 14px 0 14px 17px;
	width: 698px;
}
.box-1 {
	background: #a4a4a4;
	position: relative;
	color: #fff;
	width: 100%;
}
.box-title {
	font-size: 22px;
	line-height: 27px;
	color: #fff;
	margin: 0 0 2px 0;
}
.box-title a {
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.box-title a:hover {
	color: #000;
	text-decoration: none
}
.box-padding {
	padding: 10px 10px 23px 10px;
}
.dropcap {
	font-size: 22px;
	line-height: 1.2em;
	color: #fff;
	float: left;
	text-align: center;
	width: 50px;
	padding: 12px 0 12px 0px;
	margin: 0px 20px 0 0;
	background: #a4a4a4;
	border-radius: 29px;
}
.rel {
	position: relative;
	z-index: 1;
	display: inline-block;
}
.rel img {
	position: relative;
	z-index: 2;
}
figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	padding: 10px 0 11px 0;
	background: url(../images/bg-caption.png) 0 0 repeat;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	font-size: 18px;
	line-height: 1.2em;
}
/* lists */
.list li {
	background: url(../img/marker-2.png) 0 5px no-repeat;
	padding-left: 17px;
	margin-bottom: 16px;
}
.list li a {
	color: #828387;
	display: inline-block;
}
.list-1 li {
	background: url(../images/list-marker.gif) 0 3px no-repeat;
	padding-left: 12px;
	line-height: 14px;
	margin-bottom: 10px;
}
.list-1 li a {
	color: #828387;
	display: inline-block;
	font-size: 12px;
	background: url(../images/line-2.png) 0px bottom no-repeat;
}
.list-1 li a:hover {
}
.list-2 li {
	padding-left: 11px;
	display: block;
	font-size: 13px;
	line-height: 20px;
	background: url(../img/marker-2.gif) 0 6px no-repeat;
}
.list-2 li a {
	color: #8f8e8e;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.list-2 li a:hover {
	color: #e43a0d;
	text-decoration: none
}
.map iframe {
	width: 319px;
	height: 229px;
}
/****************************footer************************/
footer {
	width: 100%;
	padding: 0px 0px 52px 0px;
	background: #363636;
	position: relative;
}
.text-bot {
	font-size: 12px;
	line-height: 19px;
	color: #8f8f8f;
	padding: 0px 0px 0px 0px;
}
*+html .text-bot {
	padding: 1px 0px 0px 0px;
}
.line {
	color: #8f8f8f;
	display: inline-block;
	*
	display: inline;
	margin: 0 9px 0 8px;
}
.text-bot a {
	color: #8f8f8f;
	text-decoration: none;
	background: url(../img/line-3.png) 0 bottom no-repeat;
}
.logo-1 {
	padding: 21px 140px 0 15px;
}
.logo-1 a {
	display: block;
	text-indent: -5000px;
	overflow: hidden;
	background: url(../img/logo_1.png) 0 0 no-repeat ;
	height: 42px;
	width: 100px;
	background-size: 100px;
}
/* Definition list style */


dl.contacts {
	color: #828387;
	padding: 0;
}
dl.contacts dt {
	color: #828387;
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 20px 0;
}
dl.contacts dd {
	margin-bottom: 0px;
}
dl.contacts dd span {
	float: left;
	width: 82px;
}
dl.contacts dt strong {
	color: #0fb9f8;
	font-weight: bold;
}
footer dl dd {
	margin-bottom: 2px
}
/* Contact form */
.success {
	width: 303px;
	text-align: center;
	background: #f2f2f2;
	border: 1px solid #d4d4d4;
	color: #828387;
	font-size: 19px;
	line-height: 1.2em;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	display: none;
}
#contact-form {
	vertical-align: top;
	padding-top: 1px;
}
#contact-form fieldset {
	border: none;
}
#contact-form .field {
	overflow: hidden;
	width: 100%;
	padding: 0 0 13px 0px;
}
#contact-form input, #contact-form textarea {
	float: left;
	line-height: 1.23em;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight: normal;
	padding: 11px 11px 11px 11px;
	margin: 0;
	background: #f2f2f2;
	border: 1px solid #d4d4d4;
	color: #828387;
	outline: none;
	width: 301px;
}
#contact-form .area .error {
	float: left;
}
#contact-form textarea {
	overflow: auto;
	height: 195px;
	width: 436px;
	float: left;
	line-height: 1.23em;
	resize: none;
}
#contact-form label {
	padding: 0 0 0px 0px;
	display: inline-block;
	color: #F00;
}
#contact-form .error, #contact-form .empty {
	color: red;
	width: 436px;
	font-size: 11px;
	line-height: 15px;
	padding: 3px 0 0 0px;
	display: none;
	float: left;
}
.buttons-wrapper {
	text-align: right;
	clear: both;
	padding: 18px 1px 0 0px;
}
.buttons-wrapper a {
	margin-left: 15px;
}
#gray{
	width: 230px;
	height: 70px !important;
	background: url("../images/ImgInternet/logos-empresas/Grove_logo.png")left no-repeat ; 

}
#gray:HOVER{
	background-position: -230px ;

}

.imgGray {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
 
.imgColor {
	position: absolute;
	left: 0; 
	top: 0;
}

#sidebar {
	background: none repeat scroll 0 0 transparent;
	margin-bottom: 25px;
}

.row .threecol {
	width: 22.05%;
}
.threecol {
	float: left;
	margin-right: 3.8%;
	min-height: 1px;
	
}
#navigation {
	overflow:hidden
}
#navigation li {
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#fff url('images/back-panel-title.png') repeat-x left bottom;
	box-shadow:inset 0 0 0px 1px #FFF
}
#navigation li.first {
	border-radius:4px 4x 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-top:1px solid #ccc
}
#navigation li.first:hover {
	background:url("images/back-nav-active.png") repeat-x left top
}
#navigation li.first:hover a {
	background:url("images/back-nav-active.png") repeat-x left top !important;
	border-radius:4px 4px 0 0
}
#navigation li.active.first {
	border-top:none
}
#navigation li.last {
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	border-bottom:1px solid #ccc
}
#navigation .active.sub {
	border-bottom:1px solid #ccc
}
#navigation a {
	text-decoration:none;
	font-family:"Droid Sans", Arial, Verdana;
	font-size:14px;
	color:#5a5a5a;
	display:block;
	height:45px;
	padding-left:14px;
	position:relative;
	line-height:45px
}
#navigation a:link {
}
#navigation a:visited {
}
#navigation a:hover {
	text-decoration:none;
	color:#000
}
#navigation a:active {
}
#navigation >li:hover, #navigation .active {
	border-left:none;
	border-right:none;
	background:url("../img/back-nav-active.png") repeat-x left top;
	box-shadow:none;
	border-bottom:1px solid #5084B2
}
#navigation >li:hover >a, #navigation .active >a {
	color:#fff;
	text-shadow:1px 1px #436a8b;
	height:45px;
	line-height:45px;
	padding-left:15px
}
#navigation ul {
	display:none;
	border-radius:0
}
#navigation li li a {
	background:url("../img/back-navigation-arrow.png") no-repeat 15px center;
	padding-left:30px
}
#navigation li li {
	background:#fff url("images/back-nav-sub.png") repeat-x left bottom
}
#navigation .active ul {
	display:block
}
#navigation ul .last {
	border-radius:0;
	border-bottom:0
}

#sidebar {
	background: none repeat scroll 0 0 transparent;
	margin-bottom: 25px;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	/*margin: 0;*/
	padding: 0;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.panel-wrapper {
	margin-bottom:25px
}
.panel-wrapper .title h4 {
	margin-left:15px;
	line-height:45px;
	font-size:14px;
	font-family:"Droid Sans", Arial, Verdana;
	color:#5a5a5a
}
.panel-wrapper .title {
	height:45px;
	border-bottom:1px solid #ccc;
	line-height:45px;
	/*box-shadow:inset 0 0 0px 1px #FFF;*/
	background:url('images/back-panel-title.png') repeat-x left bottom;
	border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	position:relative
}
.panel-wrapper .panel {
	border:1px solid #ccc;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow:hidden
}
.panel-wrapper .panel .content {
	overflow:hidden;
	background:#fff
}
.panel-wrapper .panel .content.spacing {
	padding:20px
}
.panel-wrapper .shadow {
	height:2px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin:0 4px 0 4px;
	border-radius:0 0 4px 4px
}
.panel-wrapper .tabs {
	height:45px;
	border-bottom:1px solid #ccc;
	line-height:45px;
	box-shadow:inset 0 0 0px 1px #FFF;
	background:url('images/back-panel-title.png') repeat-x left bottom;
	border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	position:relative
}
.panel-wrapper .tabs li {
	border-left:1px solid #d9d9d9;
	line-height:45px;
	font-size:13px;
	font-family:"Droid Sans", Arial, Verdana;
	height:45px;
	float:left;
	margin-right:1px;
	display:block;
	height:45px
}
.panel-wrapper .tabs li:first-child {
	border:none
}
.panel-wrapper .tabs li.active {
	background:#fff;
	height:46px
}
.panel-wrapper .tabs li.active.last {
	border-right:1px solid #D9D9D9
}
.panel-wrapper .tabs li a {
	text-decoration:none;
	color:#5A5A5A;
	height:45px;
	line-height:45px;
	display:block;
	padding:0 20px
}
.panel-wrapper .panel.collapsed .tabs .active {
	background:transparent
}
.panel-wrapper .panel.collapsed .title, .panel-wrapper .panel.collapsed .tabs {
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px
}
.panel-wrapper .tabs li a:link {
}
.panel-wrapper .tabs li a:visited {
}
.panel-wrapper .tabs li a:hover {
	color:#000;
	text-decoration:none
}
.panel-wrapper .tabs li a:active {
}
.panel-wrapper .tabs-content {
	padding:20px;
	border-radius:3px;
    padding-bottom: 1px;
    background: url(../img/border.png) bottom border;
	-webkit-border-radius:3px;
	-moz-border-radius:3px
}
.panel-wrapper .tabs-content >div {
	display:none
}
.panel-wrapper .tabs-content >div.active {
	display:block
}
.panel-wrapper .option {
	color:#999;
	height:45px;
	padding:0 12px 0 15px;
	position:absolute;
	top:0;
	right:0;
	display:block;
	line-height:45px;
	cursor:pointer;
	font-size:11px
}
.panel-wrapper .option a {
	text-decoration:none
}
.panel-wrapper .collapse {
	color:#999;
	height:45px;
	padding:0 28px 0 15px;
	background:url("images/back-table-sorter-asc.png") no-repeat right 22px;
	position:absolute;
	top:0;
	right:0;
	display:block;
	line-height:45px;
	cursor:pointer
}
.panel-wrapper .collapse:hover {
	color:#5a5a5a
}
.panel-wrapper .panel.collapsed .collapse {
	background:url("images/back-table-sorter-desc.png") no-repeat right 15px
}
.panel-wrapper .panel.collapsed {
	overflow:hidden
}
.panel-wrapper .panel.collapsed .content {
	overflow:hidden
}
p.highlight {
    color: #666666;
    font-size: 16px;
}

.block {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px 10px 0;
}